@charset "UTF-8";

/*******************************
  “美”に日本酒
*******************************/
.image-header {
    width: 100%;
    height: 50vw;
}
.image-header{
	background-blend-mode: multiply;
	background-color: #999999;
	background-image: url(../images/beauty/beauty_image.jpg);	
}
.image-header{
  background-image: url(../images/beauty/beauty_image7.jpg)\9; /* IE10以下 */
}
@media all and (-ms-high-contrast: none){
.image-header{
   background-image: url(../images/beauty/beauty_image7.jpg); /* IE10以上 */
  }
}
@supports (-ms-ime-align: auto) and (not (-webkit-text-stroke: initial)){
.image-header{
   background-image: url(../images/beauty/beauty_image7.jpg); /* Edge12〜14 */
  }
}
@supports (-ms-ime-align: auto) {
.image-header{
   background-image: url(../images/beauty/beauty_image7.jpg); /* Edge12+（Edge全て） */
  }
}
.page-catchcopy {
    position: absolute;
    right: 0;
    bottom: 55%;
    left: 0;
    text-align: center;
    font-size: 3vw;
    margin: 0;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
.image-header .page-title {
    top: 48%;
    font-size: 6vw;
    bottom: auto;
    transform: none;
    font-weight: normal;
    letter-spacing: 0px;
}
.beauty-intro h2 {
	color: #AE924F;
	font-size: 30px;
	font-size: 5vw;
	text-align: center;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	letter-spacing: 0px;
	line-height: 1.5;
    font-weight: normal;
	letter-spacing: 5px;
}
.beauty-intro p {
    width: auto;
    margin: 0 0 30px;
    color: #fff;
    font-size: 3.2vw;
    letter-spacing: 0px;
    line-height: 5vw;
	text-align: center;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
.heading-02 {
    font-size: 3.75vw;
    height: 5.625vw;
    line-height: 5.625vw;
    background-color: #AE924F;
    color: #000;
    text-align: center;
	margin-top: 00px;
}
.beauty-intro {
    margin: 1em 0;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
    width: auto;
    margin: 45px 20px;
}
.intro-text {
	text-align: center;
    width: auto;
    margin: 0 00px 30px 00px;
    color: #fff;
    font-size: 3.2vw;
    letter-spacing: 0px;
    line-height: 5vw;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
.beauty-effect {
  border: 1px solid #AE924F;
  margin: 5% 20px;
  width: auto;
}
.beauty-effect h2 {
  letter-spacing: 10px;
  text-align: center;
  font-size: 4.0625vw;
  color: #000;
  height: 7.8125vw;
  line-height: 7.8125vw;
  margin: 4.6875vw 0;
  background-color: #AE924F;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  padding-left: 10px;
}
.beauty-lie {
    margin: 10% 20px;
	width: auto;
}
.beauty-effect-caption {
  letter-spacing: 5px;
  text-align: center;
  font-size: 4vw;
  color: #AE924F;
  margin: 4.6875vw 0;
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  padding-left: 5px;
}
.beauty-effect-content {
    font-size: 3.5vw;
    margin: 5%;
}
.beauty-effect-list-secondary figcaption::before, .beauty-effect-list-secondary figcaption::after {
  content: "－";
}
.beauty-effect-list-secondary figcaption {
  color: #AE924F;
  font-size: 4vw;
}
.beauty-effect-list-secondary li::before {
  content: "●";
}
.beauty-effect .beauty-effect-list-primary ul, .beauty-effect .beauty-effect-list-secondary ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.beauty-effect-list-primary ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
.beauty-effect-list-primary li {
  margin: 0;
  width: 22vw;
  height: 22vw;
  border: 0.9375vw solid #fff;
  background-color: #fff;
  color: #AE924F;
  box-shadow: inset 0 0 0 2px #AE924F;
  border-radius: 50%;
  position: relative;
  box-sizing: border-box;
}
.beauty-effect-pic {
  margin: 0 auto;
  width: 60%;
}
.beauty-effect-pic img {
  width: 100%;
  height: auto;
}
.beauty-effect .beauty-effect-list-primary, .beauty-effect .beauty-effect-list-secondary {
  margin: 5%;
}
.beauty-effect-list-primary li span {
  display: inline-block;
  width: 100%;
  text-align: center;
  font-size: 3.75vw;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
  font-weight: bold;
line-height: 1.4;
}
.beauty-effect-list-primary li .aging {
    font-size: 3vw;
}
.beauty-effect-list-secondary li {
  margin: 0;
  color: #AE924F;
  font-size: 3vw;
}
.beauty-lie h2 {
  position: relative;
  text-align: center;
  color: #000;
  background-color: #AE924F;
  height: 7.5vw;
  line-height: 7.5vw;
  border-radius: 3.75vw;
  font-size: 3.4375vw;
  margin: 3.75vw 0 7.5vw;
}
.beauty-lie h2::after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 24px 12px 0 12px;
  border-color: #AE924F transparent transparent transparent;
  position: absolute;
  left: 50%;
  margin-left: -12px;
  margin-bottom: -24px;
}
.beauty-lie h3 {
  font-size: 4vw;
  color: #AE924F;
  text-align: center;
  margin: 0vw 0;
  clear: both;
}
.beauty-lie p {
  margin: 2% 0;
  font-size: 3vw;
}
.beauty-lie-left {
  margin: 4.6875vw 0;
}
.beauty-lie-right {
  margin: 4.6875vw 0;
}
.beauty-lie figure img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
.intro-heading {
    color: #AE924F;
    font-size: 30px;
    font-size: 3.0rem;
    text-align: center;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	letter-spacing: 5px;
}
.beauty-intro  h2 {
    color: #AE924F;
    font-size: 30px;
    font-size: 3.0rem;
    text-align: center;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	letter-spacing: 10px;
}
.beauty-intro p {
    font-size: 21pt;
    line-height: 1.76;
    font-size: 21px;
	letter-spacing: 5px;
}
.intro-text {
    font-size: 21pt;
    line-height: 1.76;
    font-size: 21px;
	letter-spacing: 4px;
}
.heading-02 {
    font-size: 24px;
    height: 36px;
    line-height: 36px;
}
.beauty-effect {
  border: 1px solid #AE924F;
  margin: 5% 20px;
  width: auto;
}
 .beauty-effect-content {
    font-size: 18px;
	line-height: 1.7;
  }
.beauty-effect h2 {
    height: 50px;
    line-height: 50px;
    margin: 30px 0;
    font-size: 26px;
    font-size: 2.6rem;
  }
.beauty-effect-caption {
    margin: 30px 0;
    font-size: 24px;
}
.beauty-effect-list-secondary figcaption {
    font-size: 21px;
}
.beauty-effect-list-primary li span {
    font-size: 20px;
    line-height: 1.2;
}
.beauty-effect-list-secondary li {
    font-size: 16px;
}
}
@media screen and (min-width: 920px) {
.simple-header, .image-header {
    margin: 0 -200px;
    padding: 0 200px;
}
.image-header {
    width: 1000px;
    height: 400px;
}
.image-header .page-catchcopy {
    position: absolute;
    right: 0;
    bottom: 55%;
    left: 0;
    text-align: center;
    font-size: 28px;
    margin: 0;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
}
.image-header .page-title {
    top: 50%;
    font-size: 50px;
}
.page-title {
    position: absolute;
    bottom: 25%;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 4.8rem;
    transform: translateY(-50%);
    margin: 0;
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;	
}
.beauty-intro  h2 {
    color: #AE924F;
    font-size: 30px;
    font-size: 3.0rem;
    text-align: center;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	letter-spacing: 10px;
}
.beauty-intro p {
    font-size: 21pt;
    line-height: 1.76;
    font-size: 21px;
	letter-spacing: 5px;
}
.intro {
    margin: 0 00px;
}
.intro-heading {
    color: #AE924F;
    font-size: 30px;
    font-size: 3.0rem;
    text-align: center;
    font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	letter-spacing: 5px;
}
.intro-text {
    font-size: 21pt;
    line-height: 1.76;
    font-size: 21px;
	letter-spacing: 4px;
}
.beauty-effect {
    border: 1px solid #AE924F;
    overflow: hidden;
    margin: 50px 0;
  }
.beauty-effect h2 {
    height: 50px;
    line-height: 50px;
    margin: 30px 0;
    font-size: 26px;
    font-size: 2.6rem;
  }
.beauty-lie {
    margin: 145px 0 200px;
  }
.beauty-effect-caption {
    margin: 30px 0;
    font-size: 24px;
}
 .beauty-effect-content {
    float: right;
    width: 480px;
    margin: 0 29px 20px 0;
    font-size: 18px;
	line-height: 1.7;
  }
.beauty-effect-list-secondary figcaption {
    font-size: 21px;
}
.beauty-effect .beauty-effect-list-primary, .beauty-effect .beauty-effect-list-secondary {
    float: right;
    width: 480px;
    margin: 0 29px 29px 0;
}
.beauty-effect-list-primary ul {
    -webkit-justify-content: start;
    justify-content: start;
  }
.beauty-effect-list-primary li {
    width: 138px;
    height: 138px;
    border: 6px solid #fff;
    box-shadow: inset 0 0 0 2px #AE924F;
    margin-right: 24px;
  }
.beauty-effect-pic {
    float: left;
    width: 400px;
    margin: 0 50px 29px 29px;
  }
.beauty-effect-list-primary li span {
    font-size: 20px;
    line-height: 1.2;
}
.beauty-effect-list-primary li .aging {
     font-size: 20px;
}
.beauty-effect-list-secondary li {
    font-size: 16px;
}
.beauty-lie {
    margin: 145px 00px;
    width: auto;
}
.beauty-lie h2 {
    height: 48px;
    line-height: 48px;
    border-radius: 24px;
    font-size: 22px;
    margin: 24px 0 48px;
}
.beauty-lie h3 {
    font-size: 24px;
    margin: 0px 0;
}
.beauty-lie p {
    font-size: 18px;
	margin: 20px 0;
}
.beauty-lie-left {
    float: left;
    width: 510px;
    margin-right: 20px;
    margin-bottom: 24px;
}
 .beauty-lie-right {
    float: right;
    width: 470px;
    margin-bottom: 24px;
}
.beauty-lie-left {
    margin: 30px 0 100px;
    margin-right: 0px;
}
.beauty-lie-right {
    margin: 30px 0 100px;
}
}

