@charset "UTF-8";
/* CSS Document */
main {
    color: #fff;
    display: block;
    margin: 80px 00px 0;
}
.company-overview{
	margin: 0 20px;
}
.image-header, .simple-header {
    width: 100vw;
    height: 50vw;
    background-size: cover;
    background-position: center center;
    position: relative;
    margin: 0 00px;
}
.simple-header {
    height: 31.25vw;
}
.breadcrumb ul {
    list-style: none;
    margin: 0;
    padding: 5px 20px;
    overflow: hidden;
    width: 100vw;
}
.simple-header .breadcrumb ul {
	background-color: #383838;
}
.simple-header .page-title {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 6vw;
    margin: 0;
    font-family: "游明朝", YuMincho, "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
	letter-spacing: 10px;
	font-weight: normal;
}
.heading-02 {
    font-size: 3.75vw;
    height: 5.625vw;
    line-height: 5.625vw;
    background-color: #AE924F;
    color: #000;
    text-align: center;
}
.company-access{
	margin: 0px 20px 0;	
	padding-top: 70px;
}
.introduction-delegate{
	margin: 0 20px;
	width: auto;
}
.introduction-delegate-image{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.introduction-delegate-image img{
	width: 100%;
	height: auto;
}
.introduction-delegate-text{
	width: 100%;
	float: left;
	margin-top: 20px;
}
.introduction-career{
	width: auto;
	float: left;
	margin: 0 20px;
	margin-top: 40px;
	margin-bottom: 50px;
}
.introduction-delegate-name{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight: normal;
	font-size: 7vw;
	text-align: center;
	color: #AE924F;
	letter-spacing: 10px;
}
.introduction-delegate-name span{
	font-weight: normal;
	font-size: 40%;
	letter-spacing: 10px;
}
.introduction-delegate-heading{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 5vw;
	line-height: 1.5;
	margin-top: 5%;
	letter-spacing: 5px;
	text-align: center;
}
.introduction-delegate-comment{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 3.5vw;
	line-height: 1.8;
	margin-top: 5%;
	letter-spacing: 0px;
	text-align: center;
}
table{
	width: 100%;	
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 3vw;
	line-height: 1.5;
	box-sizing: border-box;
	border-collapse: collapse;
}
tr{
	float: left;
	width: 100%;
	border-bottom: 1px dashed #fff;
}
tr:first-child{
	border-top: 1px dashed #fff;
}
th {
    width: 20%;
    float: left;
    box-sizing: border-box;
    display: inline;
    vertical-align: middle;
    padding: 2% 0;
    text-align: left;
	font-weight: normal;
}
td {
    width: 80%;
    float: left;
    margin: 0;
    box-sizing: border-box;
    display: inline;
    padding: 2% 0;
    text-align: left;
}
@media screen and (min-width: 768px) {
main {
    color: #fff;
    display: block;
    margin: 80px 00px 0;
}
.company-overview {
    margin: 0 20px;
}
.simple-header {
    height: 160px;
}
.page-title {
    top: 45%;
    font-size: 48px;
    font-size: 4.8rem;
}
.simple-header .page-title {
    font-size: 32px;
	letter-spacing: 15px;
}
.heading-02 {
    font-size: 24px;
    height: 36px;
    line-height: 36px;
}
.introduction-delegate{
	margin: 0 20px;
	width: auto;
}
.introduction-delegate-image{
	width: 46%;
	float: right;
	margin-top: 20px;
}
.introduction-delegate-text{
	width: 52%;
	margin-right: 2%;
}
.introduction-delegate-text2{
	width: 100%;
	float: left;
	margin-top: 0px;
	margin-left: 0;
}
.introduction-career{
	width: auto;
	float: left;
	margin: 0 20px;
	margin-top: 40px;
	margin-bottom: 00px;
}
.introduction-delegate-name{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight: normal;
	font-size: 5vw;
	text-align: left;
	color: #AE924F;
	letter-spacing: 10px;
}
.introduction-delegate-name span{
	font-weight: normal;
	font-size: 40%;
	letter-spacing: 10px;
}
.introduction-delegate-heading{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 3vw;
	line-height: 1.5;
	margin: 5% 0 0;
	letter-spacing: 5px;
	text-align: left;
}
.introduction-delegate-comment{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 2vw;
	line-height: 1.8;
	margin: 2% 0 0;
	letter-spacing: 2px;
	text-align: justify;
}
.sp-br {
    display: none;
}
body.notWin.Safari.desktop .introduction-delegate-comment{
	font-size: 1.7vw;
}
table{
	width: 100%;	
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 3vw;
	line-height: 1.5;
}
th{
	width: 20%;
	float: left;
}
td{
	width: 80%;
	float: left;
	margin: 0;
}
}
@media screen and (min-width: 920px) {
main {
    width: 1000px;
    margin: 0 auto;
}
main::after {
    content: "";
    display: block;
    clear: both;
}
.company-overview {
    margin: 0 00px;
}
.image-header, .simple-header {
    width: 1000px;
    height: 400px;
    margin: 0 -200px;
    padding: 0 200px;
}
.simple-header {
    height: 160px;
}
.page-title {
    top: 45%;
    font-size: 48px;
    font-size: 4.8rem;
}
.simple-header .page-title {
    font-size: 32px;
	letter-spacing: 15px;
}
.heading-02 {
    font-size: 24px;
    height: 36px;
    line-height: 36px;
}
.introduction-delegate{
	margin: 0 0px;
	width: 100%;
}
.introduction-delegate-image{
	width: 450px;
	float: right;
	margin-top: 20px;
}
.introduction-delegate-image img{
	width: 450px;
	height: auto;
}
.introduction-delegate-text{
	width: 50%;
	float: left;
	margin-top: 20px;
	margin-left: 0;
}
.introduction-delegate-text2{
	width: 100%;
	float: left;
	margin-top: 20px;
	margin-left: 0;
}
.introduction-career{
	width: 100%;
	float: left;
	margin: 0 0px;
	margin-top: 40px;
	margin-bottom: 00px;
}
.introduction-delegate-name{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-weight: normal;
	font-size: 40px;
	text-align: left;
	color: #AE924F;
	letter-spacing: 10px;
}
.introduction-delegate-name span{
	font-weight: normal;
	font-size: 19px;
	letter-spacing: 15px;
}
.introduction-delegate-heading{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 30px;
	line-height: 42px;
	margin: 20px 0 10px;
	letter-spacing: 10px;
	text-align: left;
}
.introduction-delegate-comment{
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 20px;
	line-height: 41px;
	margin: 0px 0 0;
	letter-spacing: 2px;
	text-align: left;
}
body.notWin.Safari.desktop .introduction-delegate-comment{
	font-size: 18px;
}
table{
	width: 1000px;	
	font-family: "ＭＳ Ｐ明朝", "MS PMincho", "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", serif;
	font-size: 21px;
	line-height: 41px;
}
th{
	width: 150px;
	float: left;
	padding: 5px 0;
}
td{
	width: 850px;
	float: left;
	margin: 0;
	padding: 5px 0;
}
}